* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b1120;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text span {
  color: #38bdf8;
}

.hero-img img {
  width: 280px;
  border-radius: 50%;
}

/* BUTTONS */
.btn, .btn-outline {
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 10px;
}

.btn {
  background: #38bdf8;
  color: black;
}

.btn-outline {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SECTION */
.section {
  padding: 80px 60px;
}

.dark {
  background: #020617;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.skills-grid span {
  background: #1e293b;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}

/* PROJECTS */
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 15px;
}

/* CONTACT */
.contact-section {
  background: linear-gradient(135deg, #22d3ee, #9333ea, #ec4899);
  padding: 60px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
}

.contact-form button {
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: black;
  color: white;
}
