* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("background.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 3px solid #e50914;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #e50914;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 25px;
  margin: 10px;
  text-decoration: none;
  border-radius: 30px;
}

.primary {
  background: #e50914;
  color: #fff;
}

.outline {
  border: 2px solid #e50914;
  color: #e50914;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
  text-align: center;
}

.card {
  background: #111;
  padding: 25px;
  border-left: 4px solid #e50914;
  margin-top: 20px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill-card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.skill-card img {
  width: 40px;
}

.skill-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #e50914;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}

.project-card {
  background: #111;
  border-radius: 10px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
}

/* CONTACT */
.contact {
  background: linear-gradient(135deg,#111,#e50914);
  display: flex;
  gap: 40px;
  padding: 60px 10%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

/* ANIMATION */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
