* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

.hero {
  height: 100vh;
  background: url("images/background.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.hero-content {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.profile {
  width: 140px;
  border-radius: 50%;
  border: 3px solid #e50914;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.5rem;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: #e50914;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

.section {
  padding: 70px 10%;
}

h2 {
  margin-bottom: 20px;
  color: #e50914;
}

.card {
  background: #111;
  padding: 20px;
  border-left: 4px solid #e50914;
}

.list li {
  margin: 10px 0;
}

.skills span {
  display: inline-block;
  margin: 8px;
  padding: 8px 15px;
  background: #111;
  border-radius: 20px;
}

.project {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.project img {
  width: 200px;
  border-radius: 10px;
}

.contact {
  text-align: center;
  background: #111;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
